@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:#4b2e83">
    <h1><font color="#b7a57a">UW Tacoma Study Group Finder</font></h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2><font color="white">Welcome to UWT Study Group Finder</font></h2>
        <p><font color="white">
            UW Tacoma Study Group finder is a tool that helps students find other
            students to study with for their classes.
            This is to help peers to collaborate and network students with one another
            to help review class materials and fostering a sound learning envirnoment to 
            build knowledge in UWT</font>
        </p>
     
        <img src="@Url.Content("~/image/a.jpg")">
        <img src="@Url.Content("~/image/b.jpg")">
    </div>
</div>
