@*@model Microsoft.AspNet.Identity.EntityFrameWork.IdentityUser*@
@{
    ViewBag.Title = "AssignRoleToUser";
}

<h2><font color="white">AssignRoleToUser</font></h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Select Your User Type", new { @class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.DropDownList("UserName")
        </div>
     </div>
     <inout typeof="submit" value="Create Role" />
}

